.layout-container {
  max-width: 1440px;
  width: 100vw;
  min-height: calc(100vh - 64px);
  background-color: var(--ice-blue);
  display: flex;
  padding-left: 176px;
  vertical-align: middle;
  align-items: center;
}